/* Sebastián Sondor */
.fondoVisita{
    background-image: url("../imagenes/museo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height:calc(90vh - 62px);
}
.visita{
    display: flex;
    flex-direction: column;     
    align-items: center;
    color:white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    min-height:calc(90vh - 60px);
}
.direccion{
    display: flex;
    flex-direction: row;
    margin-top:15px;
    background-color: #eeeeeed2;
    border-radius: 10px;
    color:black;
    padding: 5px;
}
@media (max-width: 749px){
    .visita .informacion{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 80%;
    }
    .visita .informacion div{
        width: 70%;
    }
    .visita h1{
        font-size: 40px;
    }
    .direccion{
        width: 80%;
        justify-content: space-around;
        align-items: center;
    }
    .direccion h2{
        text-align: left;
        margin: 0px;
        font-size: 20px;
    }
    .direccion .ubicacion{
        margin: 0px;
        text-align: right;
    }
}
@media (min-width:750px){
    .visita .informacion{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
        text-align: center;
        width: 90%;
    }
    .visita .informacion div{
        width: 45%;
    }
    .visita h1{
        font-size: 40px;
    }
    .direccion{
        margin-top: 40px;
        width: 50%;
        justify-content: space-around;
        align-items: center;
    }
}
@media (min-width: 1200px){
    .visita .informacion{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
        width: 80%;
        margin-top: 30px;
    }
    .visita .informacion div{
        width: 40%;
    }
    .visita h1{
        font-size: 40px;
    }
    
    .direccion{
        margin-top: 60px;
        width: 30%;
        justify-content: space-around;
        align-items: center;
    }
}